.button {
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  display: inline-block;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
}

.button:hover {
  text-decoration: none;
}

.button-primary {
  padding: 12px 86px;
  font-size: 30px;
  background-color: #FF0032;
  color: white;
  border-radius: 133px;

}

.button-primary:hover {
  background-color: #b40023;
  color: #cecece;
}
