.card{
background-color: white; 
padding: 20px;
box-shadow: 4px 4px 46px rgba(10, 34, 67, 0.07);
border-radius: 20px;
}

.card-reviews {

}

.card-title {}

.card-description {}

.card-image {

}

.card-image > img {
  max-height: 40vh;
}

.card-duration {}

.card .grid {
  justify-content: space-between;
}

.card .stars img {
  width: 16px;
  height: 16px;
  display: inline-block;

}
