.hero {
  background-image: url(../../images/bg_1.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0px 0px 1px black;
}

.hero-title {
font-weight: 900;
}

.hero-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
